body {
    background-color: antiquewhite;
}

.introduction{
    text-align: center;
    overflow: scroll;
    box-sizing: content-box;
    background-color: aliceblue;
    padding: 10px;
}

.contact{
    text-align: center;
    position: relative;
}

content h1, ul{
    float: inline-start;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: auto;  
}

ul, hobbies{
    margin-right: 70px;
    margin-bottom: 30px;
    border-right: 2px solid black;
    padding-right: 50px;
}

article p {
    float: right;
    display: contents;
}

article p strong{
    text-transform: uppercase;
}

ol, ul strong{
    text-transform: uppercase;
}

div, travel photos {
    text-align: center;
    display: block;
    box-sizing: border-box;
}

div img{
    height: fit-content;
    width: fit-content;
    display: inline-block;
    background-size: cover;
}


