body {
    background-color: antiquewhite;
}

.introduction{
    text-align: center;
    box-sizing: content-box;
    background-color: aliceblue;
    padding: 10px;
    position:fixed;
    width:100%;
    z-index: -0.5;
    opacity: 95%;
}

.contact{
    text-align: center;
    padding-top:160px ;
    position: relative;
}

content h1, ol{
    float: inline;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: auto;  
}
#Education{
    float:inline-start;
    padding-right: 5em;
}

#languages{
    margin-top: 2em;
}

#hobbies{
    margin-bottom: 30px;
    border-bottom: 2px solid black;
    padding-bottom: 30px;
    margin-top: 2em;
}

article p {
    float: right;
    display: contents;
}

#aboutme{
    border-bottom:2px solid black;
    padding-bottom:10px;
}

article p strong{
    text-transform: uppercase;
}

ol, ul strong{
    text-transform: uppercase;
}

div img{
    display: inline-block;
    max-width: 20%;
    max-height: 20%;
    margin:0 5px;
}

.introduction-sentense {
    text-align: left;
    margin-top: 30px;
    padding-bottom: 40px;
}

#LisbonandMadrid {
    display: block;
    box-sizing: border-box;
}

#RomeandVaticanCity {
    display: block;
    box-sizing: border-box;
}

#Istanbul {
    display: block;
    box-sizing: border-box;
}

form{
    text-align: start;
    display: inline-block;
    background-color:whitesmoke;
    width:100%;
    border-top:2px solid black;
    padding-top:20px;
    padding-bottom:20px;
}

#ending{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
}

#copyrights{
    display: inline-block;
    margin-right: 10px;
    margin-left: 40%;
}








    



